@page
@model PrivacyModel
@{
    var userDisplayName = User.Claims.FirstOrDefault(c => c.Type == "urn:twitch:displayname")?.Value;
    var userName = User.Identity?.Name;
    ViewData["Title"] = $"Hello, {userDisplayName ?? userName ?? "stranger"}!";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
