@using Control.Services
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@inject NavigationManager nav
@inject UserService user

<AuthorizeView>
    <Authorized>
        <span>@(user.GetNameForDisplay())</span>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-twitch" @onclick="GoLogin">
            <TwitchIcon />
            <span>Login</span>
        </button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void GoLogin()
    {
        var loginUrl = "/Account/Login?ReturnUrl=" + nav.ToBaseRelativePath(nav.Uri);
        nav.NavigateTo(loginUrl);
    }
}
