@page "/control"
@inject IHttpContextAccessor httpContext
@attribute [Authorize("Developer")]

<h3>Send Console Command</h3>

<EditForm Model="@Model" OnValidSubmit="Send" FormName="what">
    <label for="input">Command</label>
    <InputText @bind-Value="@Model.Input" name="Command" DisplayName="Command" />
    <button type="submit" class="btn btn-primary">Send</button>
</EditForm>

<div class="text-danger">@Error</div>

@code {
    public class CommandModel
    {
        [Required, MinLength(1)]
        public string Input = "";
    }
    public CommandModel Model = new();

    public string Error { get; set; } = "";

    public async Task Send()
    {
        await httpContext.HttpContext!.Session.LoadAsync();
    }
}
